<template>
    <div class="<%= pageName %>">
        <%= pageName %>
    </div>
  </template>
  
  <script>
  
  export default {
    data() {
      return {};
    },
    
    components: {
    },
  
    async mounted() {
  
    },
  
    computed: {
    },
  
    methods: {
    }
  };
  </script>
  
  <style>
  .<%= pageName %> {
  }
  </style>
  